{
  "log": {
    "_recordingName": "meshy-character-full",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3daba821e85df17fb40447250893e1d1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer msy_3ClctZx7svFvzl4kvgXqP2Sa1z7aNIu74dwf"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A stylized anime hero standing on a rooftop, clean line art, neutral lighting\",\"ai_model\":\"nano-banana-pro\",\"generate_multi_view\":false,\"aspect_ratio\":\"1:1\"}"
          },
          "queryString": [],
          "url": "https://api.meshy.ai/openapi/v1/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 49,
            "text": "{\"result\":\"019c03fc-bce6-719f-bc39-1aec5e30ed42\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-api-version",
              "value": "v2026.01.27"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 245,
      },
      {
        "_id": "d016a4b531cce28045be8c8b477131f6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer msy_3ClctZx7svFvzl4kvgXqP2Sa1z7aNIu74dwf"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.meshy.ai/openapi/v1/text-to-image/019c03fc-bce6-719f-bc39-1aec5e30ed42/stream"
        },
        "response": {
          "content": {
            "mimeType": "text/event-stream;charset=utf-8",
            "size": 1847,
            "text": "event:message\ndata:{\"id\":\"019c03fc-bce6-719f-bc39-1aec5e30ed42\",\"type\":\"text-to-image\",\"ai_model\":\"nano-banana-pro\",\"prompt\":\"A stylized anime hero standing on a rooftop, clean line art, neutral lighting\",\"status\":\"IN_PROGRESS\",\"progress\":30,\"created_at\":1769593421069,\"started_at\":1769593421102}\n\n: keep-alive\n\n: keep-alive\n\n: keep-alive\n\n: keep-alive\n\nevent:message\ndata:{\"id\":\"019c03fc-bce6-719f-bc39-1aec5e30ed42\",\"type\":\"text-to-image\",\"ai_model\":\"nano-banana-pro\",\"prompt\":\"A stylized anime hero standing on a rooftop, clean line art, neutral lighting\",\"status\":\"IN_PROGRESS\",\"progress\":90,\"created_at\":1769593421069,\"started_at\":1769593421102}\n\nevent:message\ndata:{\"id\":\"019c03fc-bce6-719f-bc39-1aec5e30ed42\",\"type\":\"text-to-image\",\"ai_model\":\"nano-banana-pro\",\"prompt\":\"A stylized anime hero standing on a rooftop, clean line art, neutral lighting\",\"status\":\"IN_PROGRESS\",\"progress\":99,\"created_at\":1769593421069,\"started_at\":1769593421102}\n\nevent:message\ndata:{\"id\":\"019c03fc-bce6-719f-bc39-1aec5e30ed42\",\"type\":\"text-to-image\",\"ai_model\":\"nano-banana-pro\",\"prompt\":\"A stylized anime hero standing on a rooftop, clean line art, neutral lighting\",\"status\":\"SUCCEEDED\",\"progress\":100,\"created_at\":1769593421069,\"started_at\":1769593421102,\"finished_at\":1769593470339,\"expires_at\":1769852670339,\"image_urls\":[\"https://assets.meshy.ai/b0dbbbaf-b086-4bee-9845-d9c2576d26db/uploads/image_019c03fc-bce6-719f-bc39-1aec5e30ed42_0.png?Expires=1769852670\\u0026Signature=D22rn-UytVX9pvEZPXcFtGgIMEebBcops88xnY-aXsvj~5hxtih2Nndl8GCFw7kFU~wtVWuq3tcP0Rjgkot7eM7gouw28canZNLYuzAGiwZm~kGX0aAheR2D6v7H42~60rOVzKWVYaNnWAEXPxRA38N7w49JSOrTwMCVTLFNLiLA6svERdKclhT~vFdbm8j~eISZhR-XdEw5jDsGLpybC0c7IOxlvLcyA0G9jp5E4YShOdwGm~JPc9CencsL-AVzqx6pSfHbv28QYZT1MbpjPGiYdn1mpPOUto63AeTapxmTFb5zMjSkAU2~EmehIYSUfx~iDfkvOExAdg~gvK16lg__[...]
